* {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: calc(15px + 0.390625vw);
}

:root {
    --primary: #840032;
    --secondary: #CCD7C5;
    --third: #172a3a;
}

h1,
h2 {
    font-style: italic;
}

a{
    color: var(--secondary);
}

body {
    background-color: var(--background-color);
    --background-color: var(--third);
    color: var(--secondary);
    --text-color: #000;
    --accent-color: #840032;
    --accent-text-color: #CCD7C5;
}

button.fill-in {
    color: var(--secondary);
    font-size: 1rem;
    background-color: transparent;
    font-style: italic;
    font-weight: bolder;
    border: 2px solid var(--secondary);
    transition: all 0.35s ease-in;
    border-radius: 1rem;
    padding: 0.15rem 1rem;

    &:hover,
    &:focus {
        cursor: pointer;
        box-shadow: inset 0 0 0 2em var(--secondary);
        color: var(--primary);
    }
}


button.fill-in.white {
    color: var(--primary);
    background-color: var(--secondary);
    border: 2px solid var(--secondary);

    &:hover,
    &:focus {
        box-shadow: inset 0 0 0 2em var(--primary);
        color: var(--secondary);
    }
}

/* -----------Navigation---------- */

#header {
    position: sticky;
    top: 0;
    z-index: 999;
    height: 85px;
    padding: 10px 10px;
    background-color: var(--primary);

}

#header .container {
    position: relative;
}

nav {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 60px;
}

.row-name {
    position: fixed;
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 410px) {

    .logo {
        width: 40px;
    }

}

/* Page Menu */

.drop-menu {
    color: var(--secondary);
}

.drop-menu ul {
    list-style: none;
    display: flex;
}

.drop-menu li {
    margin: 0 1rem;
}

.drop-menu a {
    text-decoration: none;
    color: inherit;
}


@media only screen and (max-width: 1300px) {
    .drop-menu {
        position: absolute;
        right: -10px;
        opacity: 0;
        top: 0;
        font-size: 0;
        width: 225px;
        display: none;
    }

    .drop-menu ul {
        position: absolute;
        flex-direction: column;
        text-align: left;
        padding-left: 20px;
        width: 100%;
        padding-inline-start: 0;
        margin-block-start: 0;
        margin-block-end: 0;
    }

    .drop-menu li {
        position: absolute;
        width: 100%;
        padding-left: 20px;
        background-color: var(--secondary);
        border-left: 7px solid;
        border-bottom: 1px solid;
        color: var(--primary);
        margin: 0;
    }

    .drop-menu.open {
        top: 75px;
        font-size: 1.7rem;
        display: block;
        opacity: 1;
    }

    .drop-menu.open li {
        position: relative;
    }
}

/* -------------Burger------------ */

.menu-btn {
    display: none;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.burger-icon {
    width: 30px;
    height: 2px;
    background: var(--secondary);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}

.burger-icon::before,
.burger-icon::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background: var(--secondary);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .3s ease-in-out;
}

.burger-icon::before {
    transform: translateY(-10px);
}

.burger-icon::after {
    transform: translateY(10px);
}

/* ANIMATION */
.menu-btn.open .burger-icon {
    transform: translateX(0px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .burger-icon::before {
    transform: rotate(-135deg) translate(0, 0);
}

.menu-btn.open .burger-icon::after {
    transform: rotate(135deg) translate(0, 0);
}


@media only screen and (max-width: 1300px) {
    .menu-btn {
        display: flex;
    }

}

/* ------Fader Animation----- */

.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}


/* -------------Footer------------ */

.container-footer{
    padding: 1rem;
    background-color: var(--primary);
}

.amini-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 2rem;
    column-gap: 1rem;

}

.container-footer img{
    max-width: 150px;
}


.container-footer ul{
    list-style-type: none;
}

.content-cjpixel{
    margin-inline: 1rem;
    padding-top: 1rem;
    text-align: center;
    border-top: 1px solid var(--secondary);
}

.container-footer .content-wrap i{
    font-size: 1.6rem;
}

