* {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: calc(15px + 0.390625vw);
}

:root {
    --primary: #840032;
    --secondary: #CCD7C5;
}

h1,
h2 {
    font-style: italic;
}

body {
    background-color: var(--background-color);
    --background-color: var(--secondary);
    --text-color: #000;
    --accent-color: #840032;
    --accent-text-color: #CCD7C5;
}

button.fill-in {
    color: var(--secondary);
    font-size: 1rem;
    background-color: transparent;
    font-style: italic;
    font-weight: bolder;
    border: 2px solid var(--secondary);
    transition: all 0.35s ease-in;
    border-radius: 1rem;
    padding: 0.15rem 1rem;

    &:hover,
    &:focus {
        cursor: pointer;
        box-shadow: inset 0 0 0 2em var(--secondary);
        color: var(--primary);
    }
}


button.fill-in.white {
    color: var(--primary);
    background-color: var(--secondary);
    border: 2px solid var(--secondary);

    &:hover,
    &:focus {
        box-shadow: inset 0 0 0 2em var(--primary);
        color: var(--secondary);
    }
}

/* -----------Navigation---------- */

#header {
    position: sticky;
    top: 0;
    z-index: 999;
    height: 85px;
    padding: 10px 10px;
    background-color: var(--primary);

}

#header .container {
    position: relative;
}

nav {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 60px;
}

.row-name {
    position: fixed;
    width: 100%;
    text-align: center;
}

.logo-name {
    height: 25px;
}

@media only screen and (max-width: 410px) {

    .logo-name {
        height: 20px;
    }

    .logo {
        width: 40px;
    }

}

/* Page Menu */

.drop-menu {
    color: var(--secondary);
}

.drop-menu ul {
    list-style: none;
    display: flex;
}

.drop-menu li {
    margin: 0 1rem;
}

.drop-menu a {
    text-decoration: none;
    color: inherit;
}


@media only screen and (max-width: 1300px) {
    .drop-menu {
        position: absolute;
        right: -10px;
        opacity: 0;
        top: 0;
        font-size: 0;
        width: 225px;
        display: none;
    }

    .drop-menu ul {
        position: absolute;
        flex-direction: column;
        text-align: left;
        padding-left: 20px;
        width: 100%;
        padding-inline-start: 0;
        margin-block-start: 0;
        margin-block-end: 0;
    }

    .drop-menu li {
        position: absolute;
        width: 100%;
        padding-left: 20px;
        background-color: var(--secondary);
        border-left: 7px solid;
        border-bottom: 1px solid;
        color: var(--primary);
        margin: 0;
    }

    .drop-menu.open {
        top: 75px;
        font-size: 1.7rem;
        display: block;
        opacity: 1;
    }

    .drop-menu.open li {
        position: relative;
    }
}

/* -------------Burger------------ */

.menu-btn {
    display: none;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.burger-icon {
    width: 30px;
    height: 2px;
    background: var(--secondary);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}

.burger-icon::before,
.burger-icon::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background: var(--secondary);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .3s ease-in-out;
}

.burger-icon::before {
    transform: translateY(-10px);
}

.burger-icon::after {
    transform: translateY(10px);
}

/* ANIMATION */
.menu-btn.open .burger-icon {
    transform: translateX(0px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .burger-icon::before {
    transform: rotate(-135deg) translate(0, 0);
}

.menu-btn.open .burger-icon::after {
    transform: rotate(135deg) translate(0, 0);
}


@media only screen and (max-width: 1300px) {
    .menu-btn {
        display: flex;
    }

}

/* ------Fader Animation----- */

.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}


/* ----------Drop Menu----------- */
/* 
.drop-menu {
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 0px;
    overflow: hidden;
    transition: all .5s ease-in-out;
    background-color: var(--background-color);
    color: var(--text-color);
}

.drop-menu.open {
    margin: 0;
    height: 70vh;
    overflow: hidden;
    padding: 0.5rem;
}

.drop-menu ul {
    list-style: none;
    margin: 0;
}

.drop-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.drop-list a {
    color: var(--accent-color);
    font-size: 1.25rem;
    text-decoration: none;
}

.drop-list li {
    text-align: center;
    padding: 0.35rem;
}

.social-links {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
}

.social-links i {
    color: var(--accent-color);
    font-size: 1.5rem;
    padding: 1rem 1rem 0rem 1rem
} */


/* -------------Footer------------ */
.container-footer {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    justify-content: space-around;
    align-items: flex-start;
    background-color: var(--primary);
    color: var(--secondary);
}

.foot-pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 0px 10px;
}

.foot-pages h3 {
    align-self: flex-start;
}

.container-footer ul {
    list-style: none;
    margin-top: 10px;
    padding: 0;
}

.container-footer a {
    text-decoration: none;
    font-size: 0.8em;
    color: var(--secondary);
}

.footer-about p {
    max-width: 200px;
    min-width: 115px;
    font-size: 0.8em;
    text-align: justify;
}

.container-footer i {
    font-size: 1.4em;
    margin: 10px;
    color: var(--secondary);
}

.contain-links {
    text-align: center;
}

.footer-cjpixel-about .contain-logo {
    width: 110px;
    height: 110px;
    margin: 10px;
    padding: 13px 10px 10px 10px;
    text-align: center;
    border-radius: 5px;
    background-color: var(--primary);
}

.footer-cjpixel-about img {
    width: 100%;
}

.footer-about {
    padding: 10px;
    position: relative;
}

.footer-about::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 80%;
    top: 12px;
    left: -2px;
    background: var(--primary);
    border-radius: 3px;
}

.footer-about h3 {
    margin-bottom: 5px;
}

.contain-cjpixel {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cjpixel-content a {
    font-size: 1em;
}