/* ---------Hero------- */

.home-hero {
    width: 100%;
    height: 570px;
    background-image: url(../images/home-hero.jpg);
    background-size: cover;
    background-position: 37% 50%;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
}

/* ---------Intro-------- */

.home-hero .intro-container {
    position: relative;
    background-color: #000000a1;
    color: var(--secondary);
    border: 5px solid #070000;
    border-left: 1px solid #171616;
    border-top: 1px solid #171616;
    box-shadow: 0 2px 5px rgba(219, 12, 12, 0.507);
    border-radius: 1rem;
    padding: 1rem;
    right: max(5%, 20px);
    width: max(40%, 220px);
}

.home-hero .intro h1 {
    margin-bottom: 0.5rem;
}

.home-hero .intro p {
    margin-bottom: 1rem;
}

@media only screen and (max-width: 600px) {
    .home-hero {
        align-items: end;
    }

    .home-hero .intro-container {
        bottom: 5%;
    }

    .home-hero {
        height: 550px;
        background-image: url(../images/phone-background.png);
        background-size: cover;
        background-position: 37% 50%;
    }
}

/* -----------Portfolio---------- */

.portfolio-section {
    padding: 2rem 1rem;
    background-color: var(--primary);
    color: var(--secondary);
    text-align: center;
}

.portfolio-section .intro-wrap {
    max-width: 1000px;
    margin-inline: auto;
    margin-bottom: 2rem;
}

.portfolio-section h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;

}

.portfolio-section p {
    text-align: justify;
}

/* -----------Articles---------- */

.portfolio-section h3 {
    font-size: 2rem;
    text-align: center;
}

.articles-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 1rem;
}

.article-wrap h3 {
    margin-bottom: 1rem;
}

.articles-section ul {
    text-align: left;
    min-width: 280px;
    list-style-type: square;
    pointer-events: none;
    opacity: 0;
    font-size: 0.1rem;
    transition: all 0.3s ease-in;
}

.articles-section .article-detail.open ul {
    text-align: left;
    padding: 0.5rem 2rem;
    list-style-type: square;
    pointer-events: none;
    opacity: 1;
    font-size: 1rem;
    padding-left: 1.5rem;
    transition: all 0.3s ease-in;
}

.articles-section .article-detail ul span {
    font-style: italic;
    color: var(--third);
    font-weight: bold;
}

.articles-section .content-wrap {
    margin-inline: 1rem;
    max-width: 500px;
    flex-shrink: 2;
}

.article-wrap {
    background-color: var(--primary);
    width: 100%;
    max-width: 500px;
    flex-shrink: 1;
}

.article-wrap h4 {
    margin-block: 0.25rem;
    font-size: 0.8rem;
    color: var(--primary);
}

.article-wrap .detail-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: var(--secondary);
    padding-inline: 1rem;
    border-radius: 0.5rem;
}

.article-wrap .detail-top:hover {
    border: 1px solid var(--primary);
}

.article-wrap .toggle-button {
    position: relative;
    display: block;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-wrap .toggle-button::before,
.article-wrap .toggle-button::after {
    content: '';
    position: absolute;
    background: var(--primary);
    border-radius: 0.5rem;
    width: 80%;
    height: 2px;
    transition: all 0.3s ease-in;
}

.article-wrap .toggle-button::before {
    transform: rotate(90deg);
}

.article-wrap .toggle-button::after {
    transform: rotate(0deg);
}

.article-wrap .toggle-button.open::before {
    transform: rotate(360deg);
}

.article-wrap .toggle-button.open::after {
    transform: rotate(-180deg);
}

.articles-section .article-wrap .article-detail p.info {
    margin-block: 0.;
    font-size: 0.1rem;
    font-style: italic;
    color: #e38181;
}

.articles-section .article-wrap .article-detail.open p.info {
    margin-block: 0.25rem 1rem;
    font-size: 1rem;
}

.article-wrap .article-detail.open p {
    opacity: 1;
    margin: 0.5rem;
    font-size: 0.8rem;
    text-align: justify;
    position: relative;
}

.articles-section .article-detail.open .left-border::before {
    content: '';
    position: absolute;
    left: 0;
    top: 10%;
    background: var(--secondary);
    height: 80%;
    width: 2px;
}

@media only screen and (max-width: 600px) {

    .portfolio-section .intro-wrap {
        margin-bottom: 0;
    }

    .articles-section {
        flex-wrap: wrap;
    }

    .articles-section .content-wrap {
        margin-block: 1.5rem;
    }

    .articles-section {
        margin-block: 0 1rem;
    }
}

/* -----------Projects---------- */

.project-wrap {
    margin-top: 2rem;
    text-align: center;
    padding-inline: 1rem;

}

.project-wrap h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    margin: 0 0.5rem;
    font-style: italic;
}

.project-wrap .bb-text {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 1rem;
    max-width: 1000px;
}

.project-wrap .contain-detail {
    text-align: justify;
    margin-inline: auto;
    max-width: 1000px;
}

.project-wrap .bb-logo {
    max-width: 250px;
    padding: 0.5rem;
    margin: 0.5rem;
}

.project-wrap p {
    max-width: 700px;
}

.project-wrap button.fill-in.white {
    background-color: var(--secondary);
    border: 2px solid var(--secondary);
    margin-top: 1rem;
    color: var(--third);

    &:hover,
    &:focus {
        box-shadow: inset 0 0 0 2em var(--third);
        color: var(--secondary);
    }
}

@media only screen and (max-width: 650px) {
    .project-wrap .bb-text {
        flex-wrap: wrap;
    }

    .project-wrap .bb-logo {
        max-width: 200px;
        margin-block: 1rem 0.5rem;
    }
}

/* -----------Organisations---------- */

.organisations-banner {
    background-color: var(--primary);
    padding: 1rem;
    margin-top: 2rem;
}

.organisations-banner .info-container {
    margin-inline: auto;
    color: var(--secondary);
    max-width: 800px;
    text-align: center;
}

.organisations-banner .info-container h2 {
    font-size: 2rem;
    font-style: normal;
}

.organisations-banner .logo-container img.logo-icon {
    max-height: 60px;
}

.organisations-banner .logo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-block: 2rem 1rem;
    row-gap: 1rem;
    column-gap: 1rem;
}

/* -----------Featured---------- */

.contain-featured{
    padding-inline: 1rem;
}

.featured-banner {
    background-color: var(--third);
    color: var(--secondary);
    padding-block: 2rem;
    max-width: 1000px;
    margin-inline: auto;
}

.featured-banner .contain-info {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}

.featured-banner .contain-info .featured-text {
    max-width: 800px;
    text-align: center;
}

.featured-banner .contain-info .featured-text p {
    margin-block: 1rem;
    text-align: justify;
}

.featured-banner .featured-text h3 {
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
    text-align: justify;
}


.featured-banner .contain-info img {
    max-width: 250px;
    margin: 0.5rem;
}

.featured-banner .featured-text button.fill-in.white {
    background-color: var(--secondary);
    border: 2px solid var(--secondary);
    margin-top: 1rem;
    color: var(--third);

    &:hover,
    &:focus {
        box-shadow: inset 0 0 0 2em var(--third);
        color: var(--secondary);
    }
}

@media only screen and (max-width: 650px) {
    .featured-banner .contain-info {
        flex-wrap: wrap;
    }

    .featured-banner .contain-info .featured-text {
        max-width: 100%;
        margin: 1rem 0;
    }

    .featured-banner .featured-text button {
        margin-top: 1rem;
    }

    .featured-banner .contain-info img {
        max-width: 250px;
        margin: 1rem 0.5rem;
    }
}


/* ----------Testimonials---------- */

.testimonials-section {
    background-color: var(--third);
    color: var(--secondary);
    text-align: center;
    font-size: 2rem;
    padding-block: 1rem;
}

.container-testimonial {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary);
    padding: 0 1rem;
}

.testimonial {
    position: relative;
    max-width: 900px;
    width: 100%;
    padding: 40px 0;
    overflow: hidden;
}

.testimonial .image {
    height: 170px;
    width: 170px;
    object-fit: cover;
    border-radius: 50%;
}

.testimonial .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
    height: 100%;
    width: 100%;
}

.slide p {
    text-align: center;
    padding: 0 160px;
    font-size: 1rem;
    font-weight: 400;
    color: var(--secondary);
}

.slide .quote-icon {
    font-size: 50px;
    color: var(--primary);
}

.slide .details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details .name {
    font-size: 20px;
    font-weight: 600;
    color: var(--secondary);
}

.details .job {
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    color: var(--secondary);
}

.testi-content {
    position: relative;
}

.nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    /* transform: translateY(30px); */
    background-color: rgba(0, 0, 0, 0.1);
    transition: 0.2s;
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 50%;
    z-index: 999;
    background-color: #ccd7c558;
}

.swiper-button-next {
    right: 0;
}

.nav-btn:hover {
    background-color: #ccd7c582;
}

.nav-btn::after,
.nav-btn::before {
    font-size: 20px;
    color: var(--secondary);
    ;
}

.swiper-pagination-bullet {
    background-color: rgba(0, 0, 0, 0.8);
}

.swiper-pagination-bullet-active {
    background-color: #4070f4;
}

@media screen and (max-width: 768px) {
    .slide p {
        padding: 20px 50px;
    }

    .testimonial .slide {
        row-gap: 10px;
    }
}


/* 
.background{
    background-color: var(--third);
}

.testimonials {
    padding: 1rem 0.5rem;
    height: 200px;
    position: relative;
    background-color: var(--third);
    color: var(--secondary);
}

.testimonial-wrap{
    position: absolute;
    width: 100%;
}

.testimonial-wrap .testimonial.next{
    position: absolute;
    font-size: 0.5rem;
    max-width: 250px;
    right: 10px
}

.testimonial-wrap .testimonial.show{
    position: relative;
    width: 100%;
}

.testimonial-wrap .testimonial.prev{
    position: absolute;
    left: 10px;
    font-size: 0.5rem;
    max-width: 250px;
}

.nextbutton{
    background-color: var(--primary);
    color: var(--secondary);
    padding: 0.25rem 0.5rem;
}

.testimonial {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.testimonial i {
    font-size: 2rem;
    color: var(--accent-color)
}

.testimonial span {
    font-style: italic;
} */


@media only screen and (max-width: 600px) {
    .hero {
        background-image: url(../images/phone-background.jpg);
    }
}